.LaunchButtonContainer {
  padding: 6px 6px;
}

.LaunchButton {
  background: -moz-linear-gradient(top, #ffcc66 35%, #aaff66 80%);
  background: -webkit-linear-gradient(top, #ffcc66 35%, #aaff66 80%);
  background: -o-linear-gradient(top, #ffcc66 35%, #aaff66 80%);
  background: -ms-linear-gradient(top, #ffcc66 35%, #aaff66 80%);
  background: linear-gradient(to bottom, #ffcc66 35%, #aaff66 80%);
  background-color: #ffcc66;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  display: inline-block;
  user-select: none;
  cursor: pointer;
  color: #00206f;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  padding: 6px 6px;
}
.LaunchButton:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
.LaunchButton:active {
  position: relative;
  top: 1px;
}
