.PrimaryButtonContainer {
  padding: 6px 6px;
}

.PrimaryButton {
  background: -moz-linear-gradient(top, #00308f 35%, #00206f 80%);
  background: -webkit-linear-gradient(top, #00308f 35%, #00206f 80%);
  background: -o-linear-gradient(top, #00308f 35%, #00206f 80%);
  background: -ms-linear-gradient(top, #00308f 35%, #00206f 80%);
  background: linear-gradient(to bottom, #00308f 35%, #00206f 80%);
  background-color: #00308f;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  display: inline-block;
  user-select: none;
  cursor: pointer;
  color: white;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  padding: 6px 6px;
  transition: 0.15s;
}
.PrimaryButton:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
.PrimaryButton:active {
  position: relative;
  top: 1px;
}
