.TextButtonContainer {
  padding: 6px 6px;
}
.TextButton {
  display: inline-block;
  user-select: none;
  cursor: pointer;
  color: #00206f;
  font-family: Arial;
  font-size: 14px;
  text-decoration: none;
  padding: 6px 6px;
  transition: 0.15s;
}
.TextButton:hover {
  color: #00308f;
  text-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
.TextButton:active {
  position: relative;
  top: 1px;
}
