@import './src/variables.less';

.Header {
  height: @header-height;
  box-shadow: gray;
  padding: 10px 20px;
  background-color: @primary-color-dark;
  color: @primary-color-text;
  position: relative;
  z-index: 100;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  h3 {
    padding: 0px 8px;
    color: white;
  }
}
