.Header {
  height: 64px;
  box-shadow: gray;
  padding: 10px 20px;
  background-color: #00206f;
  color: white;
  position: relative;
  z-index: 100;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  h3 {
    padding: 0px 8px;
  }
}
