.AppletCard {

  &-button-and-tags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  &-desc-and-thumb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 18px;
  }

  &-tags {
    display: flex;
    width: auto;
  }

  &-thumb {
    max-width: 300px;
  }

  &-desc {
      padding-right: 8%;
  }

}
