.main-content {
  flex: 1;
  padding: 10px 20px;
}

.layout-row {
  display: flex;
  flex-direction: row;
}

.layout-column {
  display: flex;
  flex-direction: column;
}

a {
  color: black !important;
  text-decoration: none !important;
}
