@primary-color: #00308f;
@primary-color-dark: #00206f;
@primary-color-text: white;
@accent1-color: #aaff66;
@accent1-color-med: #a2f260;
@accent1-color-dark: #96e059;
@accent1-color-text: black;
@accent2-color: #ffcc66;
@accent2-color-med: #f2c160;
@accent2-color-dark:#e5b75b;
@accent2-color-text: black;
